<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.Name}}</td>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="Level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Level</th>
      <td mat-cell *matCellDef="let row">{{row.Level}}</td>
    </ng-container>

    <!-- AAAvg Column -->
    <ng-container matColumnDef="AAAvg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AAAvg</th>
      <td mat-cell *matCellDef="let row">{{row.AAAvg}}</td>
    </ng-container>

    <!-- BestAA Column -->
    <ng-container matColumnDef="BestAA">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>BestAA</th>
      <td mat-cell *matCellDef="let row">{{row.BestAA}}</td>
    </ng-container>

    <!-- BestVault Column -->
    <ng-container matColumnDef="BestVault">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>BestVault</th>
      <td mat-cell *matCellDef="let row">{{row.BestVault}}</td>
    </ng-container>

    <!-- BestBars Column -->
    <ng-container matColumnDef="BestBars">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>BestBars</th>
      <td mat-cell *matCellDef="let row">{{row.BestBars}}</td>
    </ng-container>

    <!-- BestBeam Column -->
    <ng-container matColumnDef="BestBeam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>BestBeam</th>
      <td mat-cell *matCellDef="let row">{{row.BestBeam}}</td>
    </ng-container>

    <!-- BestFloor Column -->
    <ng-container matColumnDef="BestFloor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>BestFloor</th>
      <td mat-cell *matCellDef="let row">{{row.BestFloor}}</td>
    </ng-container>

    <!-- NumPlacements Column -->
    <ng-container matColumnDef="NumPlacements">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NumPlacements</th>
      <td mat-cell *matCellDef="let row">{{row.NumPlacements}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
