<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.Name}}</td>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="Level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>L</th>
      <td mat-cell *matCellDef="let row">{{row.Level}}</td>
    </ng-container>

    <!-- Division Column -->
    <ng-container matColumnDef="Division">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Division</th>
      <td mat-cell *matCellDef="let row">{{row.Division}}</td>
    </ng-container>

    <!-- Vault Column -->
    <ng-container matColumnDef="Vault">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vault</th>
      <td mat-cell *matCellDef="let row">{{row.Vault}}</td>
    </ng-container>

    <!-- VaultRank Column -->
    <ng-container matColumnDef="VaultRank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>VaultRank</th>
      <td mat-cell *matCellDef="let row">{{row.VaultRank}}</td>
    </ng-container>

    <!-- Bars Column -->
    <ng-container matColumnDef="Bars">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bars</th>
      <td mat-cell *matCellDef="let row">{{row.Bars}}</td>
    </ng-container>

    <!-- BarsRank Column -->
    <ng-container matColumnDef="BarsRank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>BarsRank</th>
      <td mat-cell *matCellDef="let row">{{row.BarsRank}}</td>
    </ng-container>

    <!-- Beam Column -->
    <ng-container matColumnDef="Beam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Beam</th>
      <td mat-cell *matCellDef="let row">{{row.Beam}}</td>
    </ng-container>

    <!-- BeamRank Column -->
    <ng-container matColumnDef="BeamRank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>BeamRank</th>
      <td mat-cell *matCellDef="let row">{{row.BeamRank}}</td>
    </ng-container>

    <!-- Floor Column -->
    <ng-container matColumnDef="Floor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Floor</th>
      <td mat-cell *matCellDef="let row">{{row.Floor}}</td>
    </ng-container>

    <!-- FloorRank Column -->
    <ng-container matColumnDef="FloorRank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FloorRank</th>
      <td mat-cell *matCellDef="let row">{{row.FloorRank}}</td>
    </ng-container>

    <!-- AA Column -->
    <ng-container matColumnDef="AA">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AA</th>
      <td mat-cell *matCellDef="let row">{{row.AA}}</td>
    </ng-container>

    <!-- AARank Column -->
    <ng-container matColumnDef="AARank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AARank</th>
      <td mat-cell *matCellDef="let row">{{row.AARank}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
